[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
Flask-Caching = "*"
flask-cors = "*"
scikit-learn = "*"
pandas = "*"
owlready2 = "*"
joblib = "*"

[requires]
python_version = ">=3.6"
